<div class="ring-profile ring-island{{> global__class}}">
  <div class="ring-island__header">
    <span class="ring-island__title">Profiles</span>
  </div>
  <div class="ring-island__content">
    {{#each items}}
      {{#if active}}
        <span class="ring-profile__item{{#unless image}} ring-profile__item_noimage{{/unless}}{{> global__class}}"{{> global__attributes}}
          >{{#image}}<img class="ring-profile__item__image" src="{{this}}" alt="{{../title}}"
          />{{/image}}{{label}}</span
        >
      {{else}}
        <a href="{{url}}" class="ring-profile__item{{#unless image}} ring-profile__item_noimage{{/unless}} ring-link{{> global__class}}"{{> global__attributes}}
          >{{#image}}<img class="ring-profile__item__image" src="{{this}}" alt="{{../title}}"
          />{{/image}}{{label}}</a
        >
      {{/if}}
    {{/each}}
  </div>
</div>