<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ring UI - {{title}}</title>
  <script src="/assets/index.js" type="text/javascript"></script>
  <link rel="icon" href="/favicon.ico">
</head>
<body>
<div class="app">
  <div class="app__sidebar">
    <h3 class="header">Ring UI library</h3>

    {{#each collections}}
      {{# metadata.title}}<h4 class="header">{{ this }}</h4>{{/metadata.title}}
      <ul class="nav">
        {{#this}}
          <li class="nav__item">
            <a class="nav__link" href="{{ link }}">{{ title }}</a>
          </li>
        {{/this}}
      </ul>
    {{/each}}
  </div>
  <div class="app__content markdown-body">
    <h1>{{title}}</h1>
    {{{contents}}}
  </div>
</div>
</body>
</html>
