<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ source.attrs.name or source.attrs.title }} — Ring UI</title>
<script>
  window.source = JSON.parse("{{ source | json_encode | escape('js') }}");
  window.categories = [
    {% for categoryName, items in sourcesByCategory %}
      {
        name: "{{ categoryName }}",
        items: [
          {% for item in items %}
            {
              title: "{{ item.attrs.name or item.attrs.title or item.path }}",
              href: "{{ item.page.url }}",
              active: {{ item.path == source.path }},
              legacy: {{ item.type != 'md' and item.attrs.tags != '3.0'}}
            },
          {% endfor %}
        ]
      },
    {% endfor %}
  ];
</script>
</head>
<body>
<div class="app">
  <script src="vendor.dll.js"></script>
  <script src="docs-app.js"></script>
</div>
</body>
</html>
