<div class="ring-header">
  {{#services}}
    {{#if active}}
      <span class="ring-header__item ring-header__item_active{{> global__class-name}}">{{label}}</span>
    {{else}}
      <a class="ring-header__item ring-header__item_link{{> global__class-name}}" href="{{url}}">{{label}}</a>
    {{/if}}
  {{/services}}
  {{#personal}}
    <span class="ring-header__personal{{> dropdown__component}}">
      <span class="ring-header__item ring-header__item_link">{{username}}</span>
      <span class="ring-font-icon ring-font-icon_caret-down"></span>
    </span>
  {{else}}
    {{#authLinks/login}}
    <span class="ring-header__personal">
      <a class="ring-header__item ring-header__item_link" href="{{url}}">{{label}}</a>
    </span>
    {{/authLinks/login}}
  {{/personal}}
</div>