{{#stripe}}
  <div class="ring-stripe">
    {{#items}}
      {{#if url}}
        <a class="ring-stripe__item ring-stripe__item_link" href="{{url}}">{{title}}</a>
      {{/if}}
      {{#unless url}}
        <span class="ring-stripe__item ring-stripe__item_active">{{title}}</span>
      {{/unless}}
    {{/items}}
    {{#if personal}}
      <span class="ring-stripe__personal component-dropdown" data-component="{{stringify personal}}">
        <span class="ring-stripe__item ring-stripe__item_link">{{personal.username}}</span>
        <span class="ring-font-icon ring-font-icon_caret-down"></span>
      </span>
    {{else}}
      <span class="ring-stripe__personal">
        <a class="ring-stripe__item ring-stripe__item_link" href="{{login.url}}">{{login.title}}</a>
      </span>
    {{/if}}
  </div>
{{/stripe}}