<div class="ring-dropdown">
  <div class="ring-dropdown__i">
    {{{html}}}
    {{#items}}
      {{#this}}
        {{#if url}}
          <a class="ring-link ring-dropdown__item{{> global__class}}" href="{{url}}" {{> global__attributes}}>{{label}}</a>
        {{else}}
          <span class="ring-link ring-dropdown__item{{> global__class}}" {{> global__attributes}}>{{label}}</span>
        {{/if}}
      {{/this}}
    {{/items}}
  </div>
</div>