<div class="ring-dropdown">
  <div class="ring-dropdown__i">
    <!--{{{html}}}-->
    {{#items}}
      {{#this}}
        {{#ifEqual type 'separator'}}
          <span class="ring-dropdown__separator"> </span>
        {{else}}
          {{#if url}}
            <a class="{{> dropdown__class}}" href="{{url}}" {{> global__attributes}}>{{label}}</a>
          {{else}}
            <span class="{{> dropdown__class}}" {{> global__attributes}}>{{label}}</span>
          {{/if}}
        {{/ifEqual}}
      {{/this}}
    {{/items}}
  </div>
</div>