<div class="ring-dropdown{{#type}} ring-dropdown_{{this}}{{/type}}">
  <div class="ring-dropdown__i">
    {{{html}}}
    {{#items}}
      {{#this}}
        {{#if separator}}
            <span class="ring-dropdown__separator"> </span>
        {{else}}
          {{#if type}}
            <span class="{{> dropdown__class}}" {{> global__attributes}}>
              <span class="ring-dropdown__item__type">{{type}}</span>
              <span class="ring-dropdown__item__content">{{> dropdown__content}}</span>
            </span>
          {{else}}
            {{#if url}}
              <a class="{{> dropdown__class}}" href="{{url}}" {{> global__attributes}}>{{> dropdown__content}}</a>
            {{else}}
              <span class="{{> dropdown__class}}" {{> global__attributes}}>{{> dropdown__content}}</span>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/this}}
    {{/items}}
    {{#type}}
      {{#ifEqual this 'typed'}}
        <span class="ring-dropdown__item ring-dropdown__item_hint">
          <span class="ring-dropdown__item__type"></span>
          <span class="ring-dropdown__item__content">Use ↩ to complete selected item</span>
        </span>
      {{/ifEqual}}
    {{/type}}
  </div>
</div>