<div class="ring-dropdown{{#type}} ring-dropdown_{{this}}{{/type}}">
  <div class="ring-dropdown__i">
    {{{html}}}
      {{#type}}
        {{#ifEqual this 'prop-manager'}}
          <span class="ring-dropdown__item ring-dropdown__item__controls">
            <span class="ring-dropdown__item__controls__title">Add to:</span>
            <input class="ring-input ring-js-event ring-js-dropdown-input" data-ring-event='{"name":"dropdown:keyinput","data":{"val":"prop"}}'>
          </span>
        {{/ifEqual}}
      {{/type}}
      {{#type}}
        {{#ifEqual this 'prop-manager'}}
          <div class="ring-dropdown__items">
        {{/ifEqual}}
      {{/type}}
      {{#items}}
        {{#this}}
        {{#if separator}}
            <span class="ring-dropdown__separator"> </span>
        {{else}}
          {{#if type}}
            <span class="{{> dropdown__class}}" {{> global__attributes}}>
              <span class="ring-dropdown__item__type">{{type}}</span>
              <span class="ring-dropdown__item__content">{{> dropdown__content}}</span>
            </span>
          {{else}}
            {{#if url}}
              <a class="{{> dropdown__class}}" href="{{url}}" {{> global__attributes}}>{{> dropdown__content}}</a>
            {{else}}
              <span class="{{> dropdown__class}}" {{> global__attributes}}>{{> dropdown__content}}</span>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/this}}
    {{/items}}
    {{#type}}
      {{#ifEqual this 'prop-manager'}}
        </div>
      {{/ifEqual}}
    {{/type}}
    </div>
    {{#type}}
      {{#ifEqual this 'prop-manager'}}
        <span class="ring-dropdown__separator"> </span>
        <span class="ring-dropdown__item ring-dropdown__item__controls ring-js-event ring-js-dropdown-toggle" data-ring-event='{"name":"dropdown:toggle"}'>
          <span class="ring-dropdown__item__controls__title">Remove to...</span>
        </span>
      {{/ifEqual}}
    {{/type}}
    {{#type}}
      {{#ifEqual this 'typed'}}
        <span class="ring-dropdown__item ring-dropdown__item_hint">
          <span class="ring-dropdown__item__type"></span>
          <span class="ring-dropdown__item__content">Use ↩ to complete selected item</span>
        </span>
      {{/ifEqual}}
    {{/type}}
  </div>
</div>