<div class="ring-footer">
  {{#each this}}
    <div class="ring-footer__column ring-footer__column_{{@key}}">
      <ul class="ring-footer__column__i">
        {{#this}}
          <li class="ring-footer__line">
            {{#this}}
              {{#if copyright}}
                {{#if url}}
                  <a class="ring-link{{> global__class}}" {{> global__attributes}} href="{{url}}">{{copyright copyright}}{{#label}} {{this}}{{/label}}</a>
                {{else}}
                  {{copyright copyright}}{{#label}} {{this}}{{/label}}
                {{/if}}
              {{else}}
                {{#if url}}
                  <a class="ring-link{{> global__class}}" {{> global__attributes}} href="{{url}}">{{label}}</a>
                {{else}}
                  {{this}}
                {{/if}}
              {{/if}}
            {{/this}}
          </li>
        {{/this}}
      </ul>
    </div>
  {{/each}}
</div>