<div class="ring-footer{{#type}} ring-footer_{{this}}{{/type}}">
  {{#each this}}
    {{#ifEqual @key 'type'}}{{else}}
      <div class="ring-footer__column ring-footer__column_{{@key}}">
        <ul class="ring-footer__column__i">
          {{#this}}
            <li class="ring-footer__line">
              {{#this}}
                {{#if url}}
                  <a class="ring-link{{> global__class}}" {{> global__attributes}} href="{{url}}">{{> footer__item}}</a>
                {{else}}
                  {{> footer__item}}
                {{/if}}
              {{/this}}
            </li>
          {{/this}}
        </ul>
      </div>
    {{/ifEqual}}
  {{/each}}
</div>