{{#this}}
{{!--Html items--}}
{{#html}}
  <span class="{{> menu__item__class}}">
    {{{this}}}
  </span>
{{else}}
  {{#ifEqual type 'button'}}
    {{> btn__group this}}
  {{else}}
    {{!--Search form--}}
    {{#ifEqual type 'search'}}
        <form action="{{action}}" class="ring-menu__item ring-menu__search">
            <div class="ring-input_wrapper">
                <input class="ring-input ring-input_icon{{> global__class}}" type="text" placeholder="placeholder">
                <span class="ring-font-icon_search ring-font-icon ring-input_icon__span"></span>
            </div>
        </form>
    {{!--Links--}}
    {{else}}
      <a href="{{url}}" class="ring-link{{> menu__item__class}}{{> dropdown__component}}"{{> global__attributes}}>
        {{#if image}}
            <img class="ring-menu__logo__img" src="{{image}}"/>
        {{else}}
            <span class="ring-menu__item__i{{#if type}} ring-font-icon ring-font-icon_{{type}}{{/if}}">{{label}}</span>
        {{/if}}
      </a>
    {{/ifEqual}}
  {{/ifEqual}}
{{/html}}

{{> dropdown-toggle}}
{{> menu__counter}}
{{/this}}