{{#this}}
{{!--Html items--}}
{{#html}}
  <span class="{{> menu__item__class}}">
    {{{this}}}
  </span>
{{else}}
  {{#ifEqual type 'button'}}
    {{> btn__group this}}
  {{else}}
    {{!--Search form--}}
    {{#ifEqual type 'search'}}
      <form action="{{action}}" class="ring-menu__item ring-menu__search">
        <input type="text" class="ring-menu__search__input" /><span class="ring-menu__search__glass ring-font-icon ring-font-icon_search"></span>
      </form>
    {{!--Links--}}
    {{else}}
      {{#unless active}}
        <a href="{{url}}" class="ring-link {{> menu__item__class}}{{> dropdown__component}}"{{> global__attributes}}>{{> menu__item__content}}</a>
      {{else}}
        <span class="{{> menu__item__class}}{{> dropdown__component}}"{{> global__attributes}}>{{> menu__item__content}}</span>
      {{/unless}}
    {{/ifEqual}}
  {{/ifEqual}}
{{/html}}

{{> dropdown-toggle}}
{{> menu__counter}}
{{/this}}